---
layout: default
---

<div class="home" ng-app="MyApp">

  <div ng-controller="MyController">
      <input type="text" ng-model="newUser"> <a href="#" ng-click="create()">New user</a>
      <table>
          <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(id, person) in people">
                <td>{(person.name)}</td>
                <td>
                    <a href="#" ng-click="edit(id)">Edit</a> - <a href="#" ng-click="remove(id)">Delete</a>
                </td>
            </tr>
          </tbody>
      </table>
      {(hideInput)}

      <div ng-show="showInput">
          Edit: <input type="text" ng-model="editUser"> <a href="#" ng-click="update(id)">Save</a>
      </div>
  </div>

</div>
