<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>

    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>

    <script>
        var myApp = angular.module('MyApp', ['firebase']).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('{(').endSymbol(')}');
        });

        myApp.controller('MyController', function($scope, $firebase) {
            var peopleRef = new Firebase('https://sizzling-fire-7259.firebaseio.com/people');

            $scope.getPeople = function() {
                // Automatically syncs everywhere in realtime
                $scope.people = $firebase(peopleRef);
            };

            $scope.create = function() {
                peopleRef.push({
                    name: $scope.newUser
                });
                $scope.getPeople();
            };

            $scope.remove = function(id) {
                var personRef = new Firebase('https://sizzling-fire-7259.firebaseio.com/people/' + id);
                personRef.remove();
                $scope.getPeople();
            };

            $scope.edit = function(id) {
                $scope.showInput = true;
                var personRef = new Firebase('https://sizzling-fire-7259.firebaseio.com/people/' + id);
                var person = $firebase(personRef);
                $scope.editUser = person.name;
                $scope.editId = id;
            };

            $scope.update = function(id) {
                var personRef = new Firebase('https://sizzling-fire-7259.firebaseio.com/people/' + $scope.editId);
                personRef.update({
                    name: $scope.editUser
                });
                $scope.showInput = false;
                $scope.getPeople();
            };

            $scope.getPeople();
        });
    </script>

</head>
